
\.DS_Store

__pycache__/

*_output/

toy_class\.py

acrylonitrile-N2O-dihedrals_for_paper_noMW_eps_files/

bifur_for_paper_noMW_eps_files/

malondialdehydeTS_IRC_for_paper_noMW_eps_files/

outputs_150319/

SN2_all_for_paper_noMW_eps_files/

\.idea/workspace\.xml

\.idea/

patricks_ircs\.py

big_structure_test\.py

gifs/

protein.pdb

plot_bifur_IRC.py

protein.xtc

vibrational_energy_schematic.py

.ipynb_checkpoints/

test_scripts/complete_TSS_cycN2_b3lyp_left_and_right_IRC_Distances_noMW_output_inclN2/

unit_tests.py
