
\.DS_Store

__pycache__/

acrylonitrile-N2O-dihedrals_for_paper_output/

bifur_for_paper_output/

malondialdehydeTS_IRC_for_paper_output/

Pummerer-gas-TS1-IRC_for_paper_output/

SN2_all_for_paper_output/

hiv1_protease_output/

neuraminidase_output/

trypsin_output/

.idea
